:root {
    --color-primary: #007acc;
    --color-primary-50: #e3f0fb;
    --color-primary-100: #b8d7f6;
    --color-primary-200: #8dbff1;
    --color-primary-300: #6196db;
    --color-primary-400: #3875c7;
    --color-primary-500: #006cb7;
    --color-primary-600: #005fa4;
    --color-primary-700: #00508f;
    --color-primary-800: #00407a;
    --color-primary-900: #002749;
}